

#subtitle{
    text-align: center;
    background-color: #e3f2fd;
    padding: 30px
}

.view{
    padding:70px;
    text-align: center;
    background-image:url(images/images.jpeg);
    font-size: 40px;
}

#about-section-ID{
    text-align:center;
    padding:20px;
    background-color: #e3f2fd;
}

.view-header{
    padding: 80px;
}

.font{
    font-family: 'Major Mono Display', monospace;
}

#onlineId{
    font-size: 50px;
}

.site-footer{
    background-color: rgba(228, 166, 212, 0.849);

}

.modal-header{
    background-color:#e3f2fd;
    color: pink;
}

.modal-body{
    background-color:#e3f2fd;
}

.modal-paragraph{
    color:pink;
}
 .deliveryButtons{
     margin:20px;
 }

 #col-1{
     background-color: rgb(173, 0, 144);
 }

 #col-2{
     background-color: rgb(179, 90, 174);
 }

 #col-3{
     background-color: rgb(202, 131, 195);
 }

 #col-4{
     background-color: rgb(245, 177, 236);
 }

 #col-5{
     background-color: pink;
 }