

#subtitle{
    text-align: center;
    background-color: #e3f2fd;
    padding: 30px
}

.view{
    padding:70px;
    text-align: center;
    background-image:url(images/cake.png);
    font-size: 40px;
}

#about-section-ID{
    text-align:center;
    padding:20px;
    background-color: #e3f2fd;
}

.view-header{
    padding: 80px;
}

.font{
    font-family: 'Major Mono Display', monospace;
}

#onlineId{
    font-size: 50px;
    color: rgb(13, 110, 110);
}

.site-footer{
    background-color: rgba(228, 166, 212, 0.849);
    padding: 40px;
}

.modal-header{
    background-color:#e3f2fd;
    color: pink;
}

.modal-body{
    background-color:#e3f2fd;
}

.modal-paragraph{
    color:pink;
}
 .deliveryButtons{
     margin:20px;
 }

 #col-1{
     background-color:rgb(64, 75, 168);
 }

 #col-2{
     background-color: rgb(92, 67, 201);
 }

 #col-3{
     background-color: rgb(131, 110, 223);
 }

 #col-4{
     background-color: rgb(145, 147, 236);
 }

 #col-5{
     background-color: rgb(201, 193, 248);
 }
 .navbar-brand{
     margin:-90px;
 }

 #orderOnline{
     background-color: #e3f2fd;
     padding: 20px;
 }

 .online-footer{
     background-color: pink;
 }

 #font-online{
     background-color: pink;
 }

 #online-social{
     padding: 30px;
 }

 #online-hours{
     padding: 30px;
 }